In [5]:
''' UJI COBA 1
Buatlah program yang menghitung kuadrat dari bilangan 0 sampai 9 '''
# Program untuk menghitung kuadrat dari bilangan 0 sampai 9

print('Computing squares of numbers between 0 and 9')
for i in range(10):
    print(i*i)
print('Complete the task . . .')

Computing squares of numbers between 0 and 9
0
1
4
9
16
25
36
49
64
81
Complete the task . . .

In [6]:
# 1 start, <5 stop, 1 lompatan

for i in range(1,5):
    print(i)

1
2
3
4

In [7]:
# key itu nama, age, city
# person[key] itu John, 30, New York

person = {"name": "John", "age": 30, "city": "New York"}
for key in person:
    print(key, person[key])

name John
age 30
city New York

In [8]:
adj = ["merah", "besarrr", "tastyyyyy"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

merah apple
merah banana
merah cherry
besarrr apple
besarrr banana
besarrr cherry
tastyyyyy apple
tastyyyyy banana
tastyyyyy cherry

In [9]:
adj = {"merah" : "apple", "besar" : "banana", "tastyyyy" : "cherry"}
for key in adj:
    print(key, adj[key])

merah apple
besar banana
tastyyyy cherry

In [10]:
# a = 20
a = int(input("Masukkan angka: ")) # input dari user
if a<10:
    print("a kurang dari 10")
elif a<20:
    print("a antara 10 sampai 20")
else:
    print("a lebih dari 20")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = ['python', 'scipy', 3.6, 5]
a.pop(-1)

5

In [ ]:
a = (1,2,3,4)
print(a)
b = (3,)
c = ((1,2),(3,4))

(1, 2, 3, 4)

In [ ]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(set1.union(set2)) # hasil 1,2,3,4,5
print(set1.intersection(set2)) # hasil 3,4

{1, 2, 3, 4, 5, 6}
{3, 4}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Menghitung union
union_set = set1.union(set2)
print("Union:", union_set)  # Output: {1, 2, 3, 4, 5, 6}

# Menghitung intersection
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)  # Output: {3, 4}

# Menghitung Intersection over Union (IoU)
iou = len(intersection_set) / len(union_set)
print("Intersection over Union (IoU):", iou)  # Output: 0.3333333333333333

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Intersection over Union (IoU): 0.3333333333333333

In [14]:
# hapus duplikat dari list
data = [1,2,3,4,5,6]
unique_data = set(data)
print(unique_data)

{1, 2, 3, 4, 5, 6}

In [ ]:
# cek keanggotaan
allowed_users = {"Admin", "Editor", "Viewer"}
user = "Editor"
if user in allowed_users:
    print("Access granted")

In [27]:
students = [
    {"name": "John Cena", "grade": "A"},
    {"name": "Boody Cerry", "grade": "A"},
    {"name": "Dany Randi", "grade": "C"}
]

print("hasil search")
for student in students:
    if student["grade"] == "A":
        print(student["name"], "lulus dengan nilai A")

hasil search
John Cena lulus dengan nilai A
Boody Cerry lulus dengan nilai A

In [29]:
buah = ["apel", "mangga", "jeruk", "apel", "mangga", "mangga"]
frequency = {}
for item in buah:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1
print(frequency)

{'apel': 2, 'mangga': 3, 'jeruk': 1}

In [31]:
# pengggunaan tuple, set, dan dictionary
# data inventaris: (id, nama, stok)
inventory = {
    1: ("Laptop", 10),
    2: ("Mouse", 50),
    3: ("Keyboard", 30)
}

# set untuk menyimpan ID barang yang habis
out_of_stock = set()

# fungsi untuk mengecek stok
def check_stock(item_id):
    if item_id in inventory:
        name, stock = inventory[item_id]
        if stock == 0:
            out_of_stock.add(item_id)
            return f"{name} habis."
        return f"{name} tersedia: {stock} unit."
    return "Barang tidak ditemukan."

# contoh penggunaan
print(check_stock(1))
print(check_stock(4))

Laptop tersedia: 10 unit.
Barang tidak ditemukan.