In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab as pl
%matplotlib inline

In [3]:
path = "..\Dataset\API_Kaggle\Student_Performance.csv"
df = pd.read_csv(path)
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [4]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [5]:
df.isna().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [7]:
#Data Transformation
#mengubah kolom dengan tipe data object
#menjadi data numerik
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
feature = ['Extracurricular Activities']
df[feature] = df[feature].apply(le.fit_transform)
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [8]:
X = df.iloc[:,:5]
y = df.iloc[:,5:]

In [9]:
X.corr()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
Hours Studied,1.000000,-0.012390,0.003873,0.001245,0.017463
Previous Scores,-0.012390,1.000000,0.008369,0.005944,0.007888
Extracurricular Activities,0.003873,0.008369,1.000000,-0.023284,0.013103
Sleep Hours,0.001245,0.005944,-0.023284,1.000000,0.003990
Sample Question Papers Practiced,0.017463,0.007888,0.013103,0.003990,1.000000

In [10]:
#Membagi dataset menjadi data latih dan data uji
#dengan perbandingan 70% : 30%

from pandas. core. common import random_state
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

print ("Ukuran X_trainset = ", X_train.shape)
print ("Ukuran y_trainset = ", y_train. shape)

print ("Ukuran X_testset = ", X_test.shape)
print ("Ukuran y_testset = ", y_test.shape)

Ukuran X_trainset =  (7000, 5)
Ukuran y_trainset =  (7000, 1)
Ukuran X_testset =  (3000, 5)
Ukuran y_testset =  (3000, 1)

In [11]:
#Data Classification
#Membangun model regresi linier sederhana
#https://scikit-learn.org/stabl|e/modules/generated/sklearn.tree.DecisionTreeRegressor.html
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(criterion='squared_error', splitter='best', max_depth=None,
min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0,
max_features=None, random_state=None, max_leaf_nodes=None,
min_impurity_decrease=0.0, ccp_alpha=0.0, monotonic_cst=None)

regressor. fit(X_train, y_train. values. ravel() )

#Memprediksi data uji dengan model
y_pred_test = regressor.predict(X_test)
y_pred_train = regressor.predict(X_train)

hasil = {
"ActualValue": y_test.values. flatten(),
"PredictedValue": y_pred_test. flatten(),
}

#load data into a DataFrame object:
dfhasil = pd. DataFrame(hasil)
dfhasil

      ActualValue  PredictedValue
0            53.0            49.0
1            50.0            54.0
2            80.0            74.0
3            24.0            25.0
4            64.0            70.0
...           ...             ...
2995         73.0            70.0
2996         31.0            33.0
2997         62.0            64.0
2998         39.0            40.0
2999         88.0            90.0

[3000 rows x 2 columns]

In [12]:
#Model Evaluation
#mengevaluasi model regresi dengan metriks:
#MAE, MSE, RMSE dan R Squared Score dengan function

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

8

mae = mean_absolute_error(y_test, y_pred_test)
mape = mean_absolute_percentage_error(y_test, y_pred_test)
mse = mean_squared_error(y_test, y_pred_test)
rmse = np. sqrt (mse)
r_squared = r2_score(y_test, y_pred_test)

print(f"Mean Absolute Error (MAE): {mae:,.2f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape*100:,.2f}%")
print(f"Mean Squared Error (MSE): {mse:,.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:,.2f}")
print(f"R squared score: {r_squared:.2f}")

Mean Absolute Error (MAE): 2.34
Mean Absolute Percentage Error (MAPE): 4.94%
Mean Squared Error (MSE): 8.86
Root Mean Squared Error (RMSE): 2.98
R squared score: 0.98

In [14]:
# Meminta input dari user
hours_studied = float(input ("Masukkan jumlah jam belajar harian: ") )
previous_scores = float(input("Masukkan nilai sebelumnya (0-100): "))
extracurricular = float(input("Masukkan skor aktivitas ekstrakurikuler (misalnya 0-10): ") )
sleep_hours = float(input("Masukkan jumlah jam tidur harian: ") )
sample_papers = int(input("Masukkan jumlah soal latihan yang dikerjakan (0-10): ") )

# Membentuk DataFrame dengan nama kolom yang sesuai
data_input = pd. DataFrame( [{
'Hours Studied': hours_studied,
'Previous Scores': previous_scores,
'Extracurricular Activities': extracurricular,
'Sleep Hours': sleep_hours,
'Sample Question Papers Practiced': sample_papers

}])

# Melakukan prediksi dengan model regresi linear
performance_index = regressor.predict(data_input)

# Menampilkan hasil
print(f"\nPrediksi Performance Index: {performance_index.item():.2f}")

Prediksi Performance Index: 72.00

In [15]:
from sklearn.model_selection import GridSearchCV

# Inisialisasi model dasar dengan random_state = 42
regressor = DecisionTreeRegressor(random_state=42)

# Menentukan grid parameter (5 nilai untuk masing-masing parameter)
param_grid = {
'max_depth': [3, 5, 7, 9, None],
'min_samples_split': [2, 5, 10, 15, 20],
'min_samples_leaf': [1, 2, 4, 6, 8]
}

# Inisialisasi GridSearchCV
grid_search = GridSearchCV(estimator=regressor,
param_grid=param_grid,
cv=5,
scoring='r2',
n_jobs =- 1,
verbose=1)              # 5-fold cross-validation
                        # atau bisa pakai 'neg_mean_squared_error'
                        # paralel semua core

# Melatih grid search dengan data latih
grid_search. fit(X_train, y_train. values. ravel() )

# Menampilkan parameter terbaik dan skor terbaik
print("Best Parameters:", grid_search.best_params_)
print("Best R2 Score:", grid_search.best_score_)

# Gunakan model terbaik untuk prediksi
best_model = grid_search.best_estimator_

y_pred_test = best_model.predict(X_test)
y_pred_train = best_model.predict(X_train)

# Buat DataFrame hasil prediksi
hasil = {
"ActualValue": y_test.values. flatten(),
"PredictedValue": y_pred_test.flatten(),
}

dfhasil = pd. DataFrame(hasil)
dfhasil

Fitting 5 folds for each of 125 candidates, totalling 625 fits
Best Parameters: {'max_depth': None, 'min_samples_leaf': 8, 'min_samples_split': 2}
Best R2 Score: 0.9836543580743621

      ActualValue  PredictedValue
0            53.0       48.714286
1            50.0       53.272727
2            80.0       78.100000
3            24.0       27.400000
4            64.0       67.375000
...           ...             ...
2995         73.0       70.272727
2996         31.0       30.636364
2997         62.0       62.875000
2998         39.0       37.125000
2999         88.0       90.071429

[3000 rows x 2 columns]

In [17]:
#Model Evaluation
#mengevaluasi model regresi dengan metriks:
#MAE, MSE, RMSE dan R Squared Score dengan function

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

mae = mean_absolute_error(y_test, y_pred_test)
mape = mean_absolute_percentage_error(y_test, y_pred_test)
mse = mean_squared_error(y_test, y_pred_test)
rmse = np.sqrt (mse)
r_squared = r2_score(y_test, y_pred_test)

print(f"Mean Absolute Error (MAE): {mae:,.2f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape*100:,.2f}%")
print(f"Mean Squared Error (MSE): {mse:,.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:,.2f}")
print(f"R squared score: {r_squared:.2f}")

Mean Absolute Error (MAE): 1.95
Mean Absolute Percentage Error (MAPE): 4.14%
Mean Squared Error (MSE): 6.00
Root Mean Squared Error (RMSE): 2.45
R squared score: 0.98