In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab as pl
%matplotlib inline

In [ ]:
path = "..\Dataset\API_Kaggle\Student_Performance.csv"
df = pd.read_csv(path)
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [4]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [5]:
df.isna().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [7]:
#Data Transformation
#mengubah kolom dengan tipe data object
#menjadi data numerik
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
feature = ['Extracurricular Activities']
df[feature] = df[feature].apply(le.fit_transform)
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [8]:
X = df.iloc[:,:5]
y = df.iloc[:,5:]

In [10]:
X.corr()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
Hours Studied,1.000000,-0.012390,0.003873,0.001245,0.017463
Previous Scores,-0.012390,1.000000,0.008369,0.005944,0.007888
Extracurricular Activities,0.003873,0.008369,1.000000,-0.023284,0.013103
Sleep Hours,0.001245,0.005944,-0.023284,1.000000,0.003990
Sample Question Papers Practiced,0.017463,0.007888,0.013103,0.003990,1.000000

In [11]:
#Membagi dataset menjadi data latih dan data uji
#dengan perbandingan 70% : 30%

from pandas. core. common import random_state
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

print ("Ukuran X_trainset = ", X_train.shape)
print ("Ukuran y_trainset = ", y_train. shape)

print ("Ukuran X_testset = ", X_test.shape)
print ("Ukuran y_testset = ", y_test.shape)

Ukuran X_trainset =  (7000, 5)
Ukuran y_trainset =  (7000, 1)
Ukuran X_testset =  (3000, 5)
Ukuran y_testset =  (3000, 1)

In [13]:
#Data Classification
#Membangun model regresi linier sederhana
#https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
from sklearn. linear_model import LinearRegression

regressor = LinearRegression()

#Melatih model dengan data latih
regressor.fit(X_train, y_train)

#Memprediksi data uji dengan model
y_pred_test = regressor.predict(X_test)
y_pred_train = regressor.predict(X_train)

hasil = {
"ActualValue": y_test.values. flatten(),
"PredictedValue": y_pred_test. flatten(),
}
#memprediksi nilai y_test
#memprediksi nilai y_train

#load data into a DataFrame object:
dfhasil = pd. DataFrame(hasil)
dfhasil

      ActualValue  PredictedValue
0            53.0       50.464436
1            50.0       53.100777
2            80.0       78.272076
3            24.0       25.362963
4            64.0       67.432695
...           ...             ...
2995         73.0       69.639832
2996         31.0       30.661211
2997         62.0       61.926842
2998         39.0       39.158959
2999         88.0       89.593039

[3000 rows x 2 columns]

In [14]:
print(f"Intercept:", regressor.intercept_)
print(f'Coefficients:', regressor.coef_)

Intercept: [-34.06212024]
Coefficients: [[2.84957996 1.01941699 0.62178694 0.47426223 0.18631283]]

In [17]:
#Model Evaluation
#mengevaluasi model regresi dengan metriks:
#MAE, MSE, RMSE dan R Squared Score

# Pengguaan function .squeeze() untuk mengubah dataframe (2D) menjadi bentuk 1D

mae = np.mean(np.absolute(y_pred_test - y_test) )
epsilon = np.finfo(float).eps # agar tidak ada pembagian dengan nol
mape = np.mean(np.abs((y_test.squeeze() - y_pred_test. squeeze()) /
np.maximum(epsilon, np.abs(y_test.squeeze())))) * 100
mse = np.mean((y_pred_test - y_test) ** 2)
rmse = np.sqrt(mse)
rss = np.sum((y_pred_test.squeeze() - y_test.squeeze()) ** 2)
tss = np.sum((y_test.squeeze() -np.mean(y_test)) ** 2)
r_squared = 1 - (rss/tss)

print(f"Mean Absolute Error (MAE): {mae:,.2f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape:,.2f}%")
print(f"Mean Squared Error (MSE): {mse:,.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:,.2f}")
print(f"Residual Sum of Squares (RSS): {rss:,.2f}")
print(f"Total Sum of Squares (TSS): {tss:,.2f}")
print(f"R squared score: {r_squared:.2f}")

Mean Absolute Error (MAE): 1.60
Mean Absolute Percentage Error (MAPE): 3.41%
Mean Squared Error (MSE): 4.04
Root Mean Squared Error (RMSE): 2.01
Residual Sum of Squares (RSS): 12,118.56
Total Sum of Squares (TSS): 1,082,650.70
R squared score: 0.99

In [20]:
# Meminta input dari user
hours_studied = float(input("Masukkan jumlah jam belajar harian: ") )
previous_scores = float(input("Masukkan nilai sebelumnya (0-100): "))
extracurricular = float(input("Masukkan skor aktivitas ekstrakurikuler (misalnya 0-10): "))
sleep_hours = float(input("Masukkan jumlah jam tidur harian: "))
sample_papers = int(input("Masukkan jumlah soal latihan yang dikerjakan (0-10): "))

# Membentuk DataFrame dengan nama kolom yang sesuai
data_input = pd. DataFrame( [{
'Hours Studied': hours_studied,
'Previous Scores': previous_scores,
'Extracurricular Activities': extracurricular,
'Sleep Hours': sleep_hours,
'Sample Question Papers Practiced': sample_papers
}])

# Melakukan prediksi dengan model regresi linear
performance_index = regressor.predict(data_input)

# Menampilkan hasil
print(f"\nPrediksi Performance Index: {performance_index.item():.2f}")

Prediksi Performance Index: 70.52