In [ ]:
# SK1
# santo
import pandas as pd 

# Extract: Santo Mengambil data sumber dari dictionary dan menyimpannya ke dalam DataFrame.
data = {
    'ID_Barang': [1, 2, 3, 4, 5],
    'Nama_Barang': ['Barang A', 'Barang B', 'Barang C', 'Barang D', 'Barang E'],
    'Jumlah_Terjual': [10, 15, 7, 20, 5],
    'Harga_Per_Unit': [1000, 1500, 700, 2000, 500]
}
df = pd.DataFrame(data)

# Transform: Santo Menghitung total penjualan dengan mengalikan jumlah terjual dan harga per unit.
df['Total_Penjualan'] = df['Jumlah_Terjual'] * df['Harga_Per_Unit']

# Load: Santo Menampilkan hasil akhir hanya dengan kolom ID Barang, Nama Barang, dan Total Penjualan.
df_hasil = df[['ID_Barang', 'Nama_Barang', 'Total_Penjualan']]
print(df_hasil)

   ID_Barang Nama_Barang  Total_Penjualan
0          1    Barang A            10000
1          2    Barang B            22500
2          3    Barang C             4900
3          4    Barang D            40000
4          5    Barang E             2500

In [ ]:
# SK2
import pandas as pd
import numpy as np

# Extract: Data sumber dengan nilai kosong
data = {
 'ID_Barang': [1, 2, 3, 4, 5],
 'Nama_Barang': ['Barang A', 'Barang B', 'Barang C', 'Barang D', 'Barang E'],
 'Jumlah_Terjual': [10, np.nan, 7, 20, 5],
 'Harga_Per_Unit': [1000, 1500, np.nan, 2000, 500]
}
df = pd.DataFrame(data)

# Menampilkan dataset asli
print("Dataset Asli:")
print(df)

# Transforms: Mengisi nilai kosong dengan nilai rata-rata
df['Jumlah_Terjual'] = df['Jumlah_Terjual'].fillna(df['Jumlah_Terjual'].mean())
df['Harga_Per_Unit'] = df['Harga_Per_Unit'].fillna(df['Harga_Per_Unit'].mean())

# Menghitung total penjualan
df['Total_Penjualan'] = df['Jumlah_Terjual'] * df['Harga_Per_Unit']

# Memuat data ke DataFrame baru (Load)
df_hasil = df[['ID_Barang', 'Nama_Barang', 'Total_Penjualan']]

# Menampilkan dataset hasil
print("\nDataset Hasil:")
print(df_hasil)

Dataset Asli:
   ID_Barang Nama_Barang  Jumlah_Terjual  Harga_Per_Unit
0          1    Barang A            10.0          1000.0
1          2    Barang B             NaN          1500.0
2          3    Barang C             7.0             NaN
3          4    Barang D            20.0          2000.0
4          5    Barang E             5.0           500.0

Dataset Hasil:
   ID_Barang Nama_Barang  Total_Penjualan
0          1    Barang A          10000.0
1          2    Barang B          15750.0
2          3    Barang C           8750.0
3          4    Barang D          40000.0
4          5    Barang E           2500.0

In [1]:
# SK3
import pandas as pd 
import numpy as np 

# Extract: Santo Mengambil data dari dictionary dengan beberapa nilai kosong.
data = {
    'ID_Barang': [1, 2, 3, 4, 5],
    'Nama_Barang': ['Barang A', 'Barang B', 'Barang C', 'Barang D', 'Barang E'],
    'Jumlah_Terjual': [10, np.nan, 7, 20, 5],
    'Harga_Per_Unit': [1000, 1500, np.nan, 2000, 500]
}
df = pd.DataFrame(data)

# Menampilkan dataset asli
print("Dataset Asli:")
print(df)

# Transform: Santo Menghapus baris yang memiliki nilai kosong untuk memastikan data yang bersih.
df.dropna(inplace=True)

# Santo Menghitung total penjualan setelah data difilter.
df['Total_Penjualan'] = df['Jumlah_Terjual'] * df['Harga_Per_Unit']

# Load: Santo Menampilkan hasil akhir dengan data yang sudah bersih dari nilai kosong.
df_hasil = df[['ID_Barang', 'Nama_Barang', 'Total_Penjualan']]
print(df_hasil)

Dataset Asli:
   ID_Barang Nama_Barang  Jumlah_Terjual  Harga_Per_Unit
0          1    Barang A            10.0          1000.0
1          2    Barang B             NaN          1500.0
2          3    Barang C             7.0             NaN
3          4    Barang D            20.0          2000.0
4          5    Barang E             5.0           500.0
   ID_Barang Nama_Barang  Total_Penjualan
0          1    Barang A          10000.0
3          4    Barang D          40000.0
4          5    Barang E           2500.0

In [2]:
# SK4
import pandas as pd 

# Extract: Santo Mengambil data dari dictionary dengan harga yang diawali dengan 'Rp.'.
data = {
    'ID_Barang': [1, 2, 3, 4, 5],
    'Nama_Barang': ['Barang A', 'Barang B', 'Barang C', 'Barang D', 'Barang E'],
    'Jumlah_Terjual': [10, 15, 7, 20, 5],
    'Harga_Per_Unit': ['Rp. 1000', 'Rp. 1500', 'Rp. 700', 'Rp. 2000', 'Rp. 500']
}
df = pd.DataFrame(data)

# Menampilkan dataset asli
print("Dataset Asli:")
print(df)

# Transform: Santo Menghilangkan 'Rp. ' di kolom harga dan mengubahnya menjadi tipe data numerik.
df['Harga_Per_Unit'] = df['Harga_Per_Unit'].str.replace('Rp. ', '', regex=False).astype(float)

# Menghitung total penjualan dengan harga yang sudah dalam format angka.
df['Total_Penjualan'] = df['Jumlah_Terjual'] * df['Harga_Per_Unit']

# Load: Menampilkan hasil akhir dengan harga yang sudah bersih dari format string.
df_hasil = df[['ID_Barang', 'Nama_Barang', 'Total_Penjualan']]
print(df_hasil)

Dataset Asli:
   ID_Barang Nama_Barang  Jumlah_Terjual Harga_Per_Unit
0          1    Barang A              10       Rp. 1000
1          2    Barang B              15       Rp. 1500
2          3    Barang C               7        Rp. 700
3          4    Barang D              20       Rp. 2000
4          5    Barang E               5        Rp. 500
   ID_Barang Nama_Barang  Total_Penjualan
0          1    Barang A          10000.0
1          2    Barang B          22500.0
2          3    Barang C           4900.0
3          4    Barang D          40000.0
4          5    Barang E           2500.0

In [3]:
# SK5
import pandas as pd 

# Extract: Santo Mengambil data dari dictionary dengan beberapa barang yang muncul lebih dari sekali.
data = {
    'ID_Barang': [1, 2, 3, 4, 5, 1, 2],
    'Nama_Barang': ['Barang A', 'Barang B', 'Barang C', 'Barang D', 'Barang E', 'Barang A', 'Barang B'],
    'Jumlah_Terjual': [10, 15, 7, 20, 5, 5, 10],
    'Harga_Per_Unit': ['Rp. 1000', 'Rp. 1500', 'Rp. 700', 'Rp. 2000', 'Rp. 500', 'Rp. 1000', 'Rp. 1500']
}
df = pd.DataFrame(data)

# Menampilkan dataset asli
print("Dataset Asli:")
print(df)

# Transform: Santo Menghilangkan 'Rp.' di harga dan mengubahnya ke tipe numerik.
df['Harga_Per_Unit'] = df['Harga_Per_Unit'].str.replace('Rp. ', '', regex=False).astype(float)

# Menghitung total penjualan untuk setiap baris sebelum penggabungan.
df['Total_Penjualan'] = df['Jumlah_Terjual'] * df['Harga_Per_Unit']

# Mengelompokkan data berdasarkan Nama_Barang dan menjumlahkan total penjualan.
df_grouped = df.groupby('Nama_Barang').agg({'Jumlah_Terjual': 'sum', 'Total_Penjualan': 'sum'}).reset_index()

# Load: Menampilkan hasil akhir setelah penggabungan.
print(df_grouped)

Dataset Asli:
   ID_Barang Nama_Barang  Jumlah_Terjual Harga_Per_Unit
0          1    Barang A              10       Rp. 1000
1          2    Barang B              15       Rp. 1500
2          3    Barang C               7        Rp. 700
3          4    Barang D              20       Rp. 2000
4          5    Barang E               5        Rp. 500
5          1    Barang A               5       Rp. 1000
6          2    Barang B              10       Rp. 1500
  Nama_Barang  Jumlah_Terjual  Total_Penjualan
0    Barang A              15          15000.0
1    Barang B              25          37500.0
2    Barang C               7           4900.0
3    Barang D              20          40000.0
4    Barang E               5           2500.0