In [2]:
# vis total transaksi per jenis
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine('sqlite:///koperasi_dw.db')
df = pd.read_sql('SELECT [Jenis Transaksi], SUM([Jumlah Transaksi (Rp)]) as total FROM fakta_transaksi GROUP BY [Jenis Transaksi]', engine)

plt.figure(figsize=(8,5))
plt.bar(df['Jenis Transaksi'], df['total'])
plt.title('Total Transaksi per Jenis')
plt.ylabel('Total (Rp)')
plt.xlabel('Jenis Transaksi')
plt.tight_layout()
plt.show()

OperationalError: (sqlite3.OperationalError) no such column: Jenis Transaksi
[SQL: SELECT [Jenis Transaksi], SUM([Jumlah Transaksi (Rp)]) as total FROM fakta_transaksi GROUP BY [Jenis Transaksi]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# vis transaksi per bulan
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine('sqlite:///koperasi_dw.db')
df = pd.read_sql('SELECT [Tanggal Transaksi], [Jumlah Transaksi (Rp)] FROM fakta_transaksi', engine)
df['Tanggal Transaksi'] = pd.to_datetime(df['Tanggal Transaksi'])
df['Bulan'] = df['Tanggal Transaksi'].dt.to_period('M')
bulanan = df.groupby('Bulan')['Jumlah Transaksi (Rp)'].sum().reset_index()

plt.figure(figsize=(10,5))
plt.plot(bulanan['Bulan'].astype(str), bulanan['Jumlah Transaksi (Rp)'], marker='o')
plt.title('Tren Total Transaksi per Bulan')
plt.xlabel('Bulan')
plt.ylabel('Total Transaksi (Rp)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# vis rata2 gaji
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine('sqlite:///koperasi_dw.db')
df = pd.read_sql('SELECT [Nama Lengkap], AVG([Gaji (IDR)]) as rata_gaji FROM fakta_gaji GROUP BY [Nama Lengkap]', engine)
df = df.sort_values('rata_gaji', ascending=False)

plt.figure(figsize=(10,6))
plt.barh(df['Nama Lengkap'], df['rata_gaji'])
plt.xlabel('Rata-rata Gaji (IDR)')
plt.title('Rata-rata Gaji per Karyawan')
plt.tight_layout()
plt.show()

In [ ]:
# vis jumlah tanggungan
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine('sqlite:///koperasi_dw.db')
df = pd.read_sql('SELECT [Nama Lengkap], [Jumlah Tanggungan] FROM dim_pelanggan', engine)
df = df.groupby('Jumlah Tanggungan').size().reset_index(name='Jumlah Pelanggan')

plt.figure(figsize=(8,5))
plt.bar(df['Jumlah Tanggungan'], df['Jumlah Pelanggan'])
plt.xlabel('Jumlah Tanggungan')
plt.ylabel('Jumlah Pelanggan')
plt.title('Distribusi Jumlah Tanggungan Pelanggan')
plt.tight_layout()
plt.show()